{{> header}}
<body style="background:#EEE;text-align:center">
<div class="main">
			<h1 class="nfp"><strong>! 404</strong></h1>
			<p>Sorry, Page Not found.</p>
			<p>You can click <a href="/write">here</a> to write a letter</p> 
</div>
{{> footer}}