<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Letter for you</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body style="background:#ed5565">
<div class="main">
		<div class="words">
			<h1><strong>! 404</strong></h1>
			<p>Sorry, Page Not found.</p>
			<p>You can click <a href="/write">here</a> to write a letter</p> 
		</div>

</div>
</body>
</html>