{{> header}}
<div class="main">
	<div class="logo">
		<h1>Echo</h1>
		<p>This for you</p>
	</div>
	<div class="container">
		<img src="letter.svg" alt="" height="160px">
		<p>以书信的形式</p>
		<p>让文字</p>
		<p>回归本真</p>
		<a href="/write">Try</a>
	</div>
</div>
{{> footer}}
