{{> header}}
<div class="main">
	<div class="logo">
		<h1>Echo</h1>
		<p>This for you</p>
	</div>
	<div class="container">
		<img src="letter.svg" alt="" height="160px">
		<p>总有一些人</p>
		<p>让你忘乎时间</p>
		<a href="/write">写点什么</a>
	</div>
</div>
{{> footer}}
