<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Letter for you</title>
	<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
	<div class="container">
	<div class="grid-wrap">
		<div class="col-12" id="c12w">
			<div class="letter" id="letter">
				<div class="front">
					<h3>{{title}}</h3>			
				</div>
				<div class="letterCover" id="letterBtn"></div>
			</div>
			
		</div>
	</div>
	</div>
	<div class="container" id="letterContent">
		<div class="col-12 paper">
			{{content}}
		</div>
	</div>

<footer>
	Letter2someone
</footer>

</body>
</html>