{{> header}}
<div class="main">
<textarea id="content"></textarea>
	<a href="#" id="make" class="btn">生成</a>
</div>

<link rel="stylesheet" href="/css/simditor.css">
<link rel="stylesheet" href="/css/sweetalert.css">
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/module.js"></script>
<script src="/js/hotkeys.js"></script>
<script src="/js/simditor.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/sweetalert.min.js"></script>

<script>
	// 编辑器初始化
	var edit = new Simditor({
	textarea: $('#content'),
	placeholder: 'write somethings ...',
	toolbar:[ 'bold', 'italic' ],
	allowedTags:['br','p','b']
	})
</script>
{{> footer}}
