::-moz-selection { background: #e46a6a; color: #fff; text-shadow: none; }
::selection { background: #e46a6a; color: #fff; text-shadow: none; }

body{
	font-family: 'Source Sans Pro';
	font-size: 16px;
}
h1{
	font-size: 2.8em;
}
h2{
	font-size: 1.2em; 
}
a,a:hover{
	text-decoration: none;
	color: #000000;
}
/* index style */
.main{
	color: #FFF;
	width: 100vw;
	height: 100vh;
	padding: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.words{
	max-width: 768px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}
@media screen and (min-width: 768px){
	.words{
		display: flex;
		flex-direction: column;
		align-self: center;
	}
}
@media screen and (max-width:768px){
	.try{
		width: 768px;
		display: flex;
		width: 100%;
	}
}
.btn{
	width: 100%;
	color: #fff;
    padding: .75rem 1.25rem;
    border: 2px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: -webkit-transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
    transition: transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
    margin: 2rem 0;
}
.btn:hover{
	color: #ed5565;
	background-color: #fff; 
}