@tailwind base;
@tailwind components;
@tailwind utilities;


footer {
  padding: 1rem 0;
}

footer p {
  text-align: center;
  color: #888;
  font-size:small;
}
.seal {
  background: linear-gradient(135deg, red 50%, blue 50%);
  height: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}