@import url("https://fontsapi.zeoseven.com/282/main/result.css");
@import url('https://fontsapi-storage.zeoseven.com/440/main/result.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


footer {
  padding: 1rem 0;
}

footer p {
  color: #888;
  font-size:small;
}
.seal {
  background: linear-gradient(135deg, red 50%, blue 50%);
  height: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.seal {
  background: repeating-linear-gradient(45deg, rgb(38, 166, 209), rgb(38, 166, 209) 10px, rgb(255, 255, 255) 10px, rgb(255, 255, 255) 20px, rgb(226, 87, 76) 20px, rgb(226, 87, 76) 30px, rgb(255, 255, 255) 30px, rgb(255, 255, 255) 40px);
}
.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.bg{
  
  background:linear-gradient(rgba(57, 48, 246, 0.5) 25%, rgba(30, 45, 211, 0.5) 66%, rgba(112, 23, 255, 0.5) 100%), rgba(217, 217, 217, 0.5);
}



.huiwen {
   font-family: "Huiwen-Fangsong";
   font-weight: normal;
}
.xiaolai {
   font-family: "Xiaolai Mono SC";
   font-weight: normal;
}
.ql-align-center{
  text-align: center;
}

.preview-image-root {
  border-radius: 24px !important;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08) !important;
  overflow: hidden !important;
  background: #f4f1ec !important;
}
